<footer>
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-6">
                <div class="d-flex flex-column align-items-center">
                    <p>Dirección: 123 Calle Principal, Ciudad, País</p>
                    <p>Teléfono: +123 456 789</p>
                    <p>Email: info@agenciadeviajes.com</p>
                </div>
            </div>
            <div class="col-md-2 mb-3">
                <div class="social-links d-flex flex-column">
                    <a href="https://www.facebook.com/?locale=es_ES" target="_blank" rel="noopener noreferrer">
                        <img src="https://cdn-icons-png.flaticon.com/256/20/20673.png" alt="Facebook" style="width: 50px; height: 50px;">
                    </a>
                </div>                
            </div>
            <div class="col-md-2 mb-3">
                <div class="social-links d-flex flex-column">
                    <a href="https://www.ucm.es/themes/ucm16/media/img/twitter.png">
                        <img src="https://cdn.icon-icons.com/icons2/4029/PNG/512/twitter_x_new_logo_square_x_icon_256075.png" alt="Twiter" style="width: 100px; height: 75px;">
                    </a>
                </div>
            </div>
            <div class="col-md-2 mb-3">
                <div class="social-links d-flex flex-column">
                    <a href="https://www.instagram.com/">
                        <img src="https://cdn-icons-png.flaticon.com/512/87/87390.png" alt="Instagram" style="width: 50px; height: 50px;">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <p>&copy; 2023 Agencia de Viajes. Todos los derechos reservados.</p>
    </div>
</footer>