<header class="container-fluid container-header">
  <div class="col col-1">
  </div>
  <div class="col col-5 d-flex align-items-center">
      <div class="mb-1">
          <img src="../images/logo.png" class="img" alt="Imagen sustitutiva de login">
      </div>
      <a href="/" class="btn text-dark border-0">
          <h2><strong>EpicScape</strong></h2>
      </a>
  </div>
  <div class="col col-6">
      <form action="/buscar" method="get">
          <div class="buscador">
              <input id="busquedaGlobal" type="search" class="caja" placeholder="Próximo destino..." name="nombreBuscar" required>
              <button class="boton" type="submit"><i class="bi bi-search"></i></button>
          </div>
      </form>
  </div>
</header>
