<nav class="navbar">
    <a href="/nosotros" class="botonnav border-end border-1">Nosotros</a>
    <a href="/servicios" class="botonnav border-end border-1">Servicios</a>
    <a href="/populares" class="botonnav">Populares</a>
</nav>
