<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="../css/nav.css">
    <link rel="stylesheet" type="text/css" href="../css/home.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <title>EpicScape-Registro</title>
    <link rel="icon" href="../images/logo.png" type="image/x-icon">
</head>
<body>

    <header class="container-fluid container-header">
        <!-- Columna 1 vacía -->
        <div class="col col-1"></div>
        <!-- Columna 2 con el logo y el nombre del sitio -->
        <div class="col col-5 d-flex align-items-center">
            <!-- Contenedor para el logo -->
            <div class="mb-1">
                <!-- Imagen del logo -->
                <img src="../images/logo.png" class="img" alt="Imagen">
            </div>
            <!-- Enlace al inicio con el nombre del sitio como botón -->
            <a href="/" class="btn text-dark border-0">
                <!-- Título del sitio -->
                <h2 class="fst-italic"><strong>EpicScape</strong></h2>
            </a>
        </div>
    </header>

    <!-- Barra de navegación de migas de pan -->
    <nav style="--bs-breadcrumb-divider: '/';" aria-label="breadcrumb" class="border border-1 border-top-0 border-dark breadcrumb-nav">
        <ol class="breadcrumb align-items-center me-auto my-auto">
            <!-- Elementos de las migas de pan -->
            <li class="breadcrumb-item d-flex align-items-center">
                <a href="/" class="text-decoration-none">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Registro</li>
        </ol>
    </nav>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        Registro de Usuario
                    </div>
                    <div class="card-body">
                        <form action="/registrar" method="post" class="general">
                            <% if (mensaje == null) { %>
                            <% } else if(mensaje) { %>
                                <div class="alert alert-danger bg-gradient text-dark" role="alert">
                                    <%= mensaje %>
                                </div>
                            <% } %>
                            <div class="form-group">
                                <label for="nombre">Nombre:</label>
                                <input type="text" class="form-control" id="nombre" name="nombre" required>
                            </div>
                            <div class="form-group">
                                <label for="apellido">Apellidos:</label>
                                <input type="text" class="form-control" id="apellido" name="apellido" required>
                            </div>
                            <div class="form-group">
                                <label for="correo">Correo:</label>
                                <input type="email" class="form-control" id="correo" name="correo" required>
                            </div>
                            <div class="form-group">
                                <label for="username">Nombre usuario:</label>
                                <input type="text" class="form-control" id="username" name="username" required>
                            </div>
                            <div class="form-group">
                                <label for="password">Contraseña:</label>
                                <input type="password" class="form-control" id="password" name="password" required>
                            </div>
                            <div class="form-group">
                                <label for="confirmPassword">Confirmar Contraseña:</label>
                                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required>
                            </div>
                            <br>
                            <% if (typeof errorMessage != 'undefined' && errorMessage !== '') { %>
                                <div style="color: crimson;" class="alert alert-warning alert-dismissible fade show" role="alert">
                                    <strong><%= errorMessage %></strong>
                                </div>
                            <% } %>
                            <br>
                            <button type="submit" class="btn btn-primary">Registrar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>
</html>
