/* Estilo para el título */
.titulo-dest {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  color: #333; /* Cambia el color según tus preferencias */
  text-transform: uppercase; /* Poner en mayúsculas */
  padding: 10px;
}

/* Estilos para la imagen mediana */
.img-mediana {
  max-width: 40em; /* Ancho del 50% del viewport width (mitad de la pantalla) */
  max-height: 400px; /* Altura del 50% del viewport height (mitad de la pantalla) */
  border: 3px solid #333; /* Borde sólido con color azul */
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5); /* Sombra */
}

/* Estilos para el contenido a la derecha */
.destino-info {
  overflow: hidden; /* Evitar que el contenido flote alrededor de la imagen */
  margin-top: 15px;
  height: 360px; /* Altura del 50% del viewport height (mitad de la pantalla) */
  
}

/* Estilo para la descripción */
.desc {
  font-size: 18px;
  text-align: justify;
}

/* Estilo para el precio */
.price {
  font-size: 24px;
  margin: 20px 0;
}

/* Estilo para el botón de reserva */
.reservar-btn {
  font-size: 18px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}
