/* Estilo para el título */
.titulo-dest {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  color: #333; /* Cambia el color según tus preferencias */
  text-transform: uppercase; /* Poner en mayúsculas */
  padding: 10px;
}

/* Estilos para la imagen mediana */
.img-mediana {
  max-width: 40em; /* Ancho del 50% del viewport width (mitad de la pantalla) */
  max-height: 400px; /* Altura del 50% del viewport height (mitad de la pantalla) */
  border: 3px solid #333; /* Borde sólido con color azul */
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5); /* Sombra */
}

/* Estilos para el contenido a la derecha */
.destino-info {
  overflow: hidden; /* Evitar que el contenido flote alrededor de la imagen */
  margin-top: 15px;
  height: 360px; /* Altura del 50% del viewport height (mitad de la pantalla) */
  
}

/* Estilo para la descripción */
.desc {
  font-size: 18px;
  text-align: justify;
}

/* Estilo para el precio */
.price {
  font-size: 24px;
  margin: 20px 0;
}

/* Estilo para el botón de reserva */
.reservar-btn {
  font-size: 18px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.popup-container {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 40px; /* Aumenta el espacio interno */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  width: 60%; /* Ajusta el ancho según tus necesidades */
  max-width: 500px; /* Ancho máximo para evitar que sea demasiado ancho en pantallas grandes */
}

.popup-content {
  text-align: center;
}

.general {
  display: flex;
  flex-direction: column;
}

.general label {
  margin-bottom: 10px;
}

.general input {
  padding: 10px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px; /* Aumenta el espacio superior */
}

.botonconfirmar {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.cerrar-btn {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

@media screen and (max-width: 600px) {
  .popup-container {
      padding: 15px;
      width: 80%;
  }

  .general label,
  .general input {
      font-size: 14px;
  }

  .botonconfirmar,
  .cerrar-btn {
      padding: 10px 20px;
      font-size: 14px;
  }
}