h2 {
    font-style: oblique;
    margin-left: 20px;
    color: #333; /* Cambia el color del texto a tu elección */
}


.container-fluid {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(249, 54, 44);
    padding: 20px;
}

/* Estilos para la barra de navegación */
nav {
    background-color:#f77f7f;
    text-align: center;
    padding: 10px 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
}

/* Estilos para el cuerpo de la página */
body{
    margin: 0;
    padding: 0;
}

main {
    padding: 20px;
}

.card {
    width: 100%;
    cursor: pointer; /* Cambia el cursor al pasar por encima de la tarjeta */
    transition: transform 0.2s; /* Agrega una transición suave */
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card:hover {
    transform: scale(1.05); /* Escala la tarjeta ligeramente al pasar el cursor */
}

.card-body{
    background-color: rgb(222, 222, 222);
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-text {
    overflow: hidden; /* Oculta el contenido que desborda */
    text-overflow: ellipsis; /* Agrega puntos suspensivos al texto truncado */
    white-space: nowrap; /* Evita que el texto se divida en múltiples líneas */
}

.card-top{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.botonnav{
    background-color:#333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.botonperfil{
    background-color:#333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 20px;
    font-size: 20px;
}

/* Estilos para la barra de búsqueda */
.buscador {
    text-align: left;
}

.caja {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 50em;
}

.boton{
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

/*Responsive*/
@media (max-width: 768px) {
    .card-img-top {
        width:100%;
    }

    .card {
        width: 100%; /* Tarjetas ocupan todo el ancho disponible */
        margin-bottom: 30px; /* Espacio entre las tarjetas */
      }
}

.destinos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Ajusta automáticamente el número de columnas */
    gap: 20px; /* Espacio entre las tarjetas */
}