h2 {
    font-style: oblique;
    color: #333;
}

.card-body a {
    margin: 0;
    padding: 0;
}

.decoration{
    text-decoration: none;
}

p{
    font-size: medium;
}

.container-fluid {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(249, 54, 44);
    padding: 20px;
}

.img {
    width: 5em;
    height: auto; 
    padding: 10px 10px;
    float: right;
}

/* Estilos para el cuerpo de la página */
body {
    margin: 0;
    padding: 0;
}

/* Estilos para el nav */
nav {
    background-color: #f77f7f;
    text-align: center;
    padding: 10px 0;
    display: flex; 
    justify-content: space-around;
    width: 100%;
}

/* Estilos para los elementos <a> en el nav */
nav a {
    color: #fff;
    text-decoration: none;
    margin: 0;
    padding: 10px 0;
    width: calc(100% / 3); 
    box-sizing: border-box;
    display: block;
}

main {
    padding: 20px;
}

.card {
    width: 100%;
    cursor: pointer;
    transition: transform 0.2s;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    color: #333;
    margin: 0; 
    padding: 0;
}

.card:hover {
    transform: scale(1.05); 
}

.card-body{
    background-color: rgb(222, 222, 222);
    text-decoration: none;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-text {
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap;
}

.card-top{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.botonnav{
    background-color:#5e3636;
    color: #fff;
    transition: background-color 0.3s;
    border: none;
    padding: 10px 20px;
}

.navbar{
    background-color:#5e3636;
}

.botonnav:hover{
    background-color: #333;
}

.botonperfil{
    background-color:#333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 20px;
    font-size: 20px;
}

/* Estilos para la barra de búsqueda */
.buscador {
    display: flex;
    align-items: center;
}

.caja {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.boton{
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

/*Responsive*/
@media (max-width: 768px) {
    .card-img-top {
        width: 100%;
    }

    .card {
        width: 100%; 
        margin-bottom: 30px;
    }

    .boton {
        padding: 10px;
    }

    .img {
        width: 4em;
        margin-right: 20%;
    }

    .titulo-dest {
        font-size: 1.5em;
    }

    .img-mediana {
        max-width: 100%; 
        height: auto; /
    }

    .destino-info {
        height: auto; 
        margin-top: 10px;
    }

    /* Elimina el margen inferior y superior de los elementos dentro de las tarjetas */
    .card-body a{
        padding: 0;
    }

    .container-fluid {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
}

.destinos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Ajusta automáticamente el número de columnas */
    gap: 20px; /* Espacio entre las tarjetas */
    text-decoration: none;
}
